<h1>Voici le profil de <%= @name %> <%= @last_name %></h1><br/>

<div class="card-header">
<h4>Description :</h4>
<p> <%= @description %> </p>
<p> Voici son email : <%= @email %> </p>
<p> son âge: <%= @age %>  Waaaaaw on dirait moins</p>
</div>